<h1>Listado de videojuegos</h1>
<mat-divider></mat-divider>
<br>

<div fxLayout="row" fxLayoutAlign="space-around center" >


<button mat-raised-button color="primary"  (click)="getAll()">Todos los videojuegos</button>

<button mat-raised-button color="primary" [matMenuTriggerFor]="order">Ordenar por Orden Alfabético</button>
<mat-menu #order="matMenu">
  <button mat-menu-item (click)="getAZ()">A-Z</button>
  <button mat-menu-item (click)="getZA()">Z-A</button>
</mat-menu>

<button mat-raised-button color="primary"[matMenuTriggerFor]="orderyear">Ordenar por año</button>
<mat-menu #orderyear="matMenu">
  <button mat-menu-item (click)="getNews()">Méas recientes</button>
  <button mat-menu-item (click)="getOlds()">Més antiguos</button>
</mat-menu>


<button mat-raised-button color="primary" [matMenuTriggerFor]="orderconsole">Filtrar por Consola</button>
<mat-menu #orderconsole="matMenu"> 
  <mat-form-field appearance="fill">
  <mat-label>Selecciona consola</mat-label>
  <mat-select >    
    <mat-option *ngFor="let console of consoles" [value]="console.name" (click)="getByConsole(console.name)">{{console.name}}</mat-option>
  </mat-select>
</mat-form-field>
</mat-menu>

<button mat-raised-button color="primary" [matMenuTriggerFor]="orderdeveloper">Filtrar por Desarrollador</button>
<mat-menu #orderdeveloper="matMenu">
  <mat-form-field appearance="fill">
    <mat-label>Selecciona Desarrollador</mat-label>
    <mat-select>      
      <mat-option *ngFor="let dev of developers" [value]="dev.name" (click)="getByDev(dev.name)">{{dev.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-menu>

</div>
<br>

<mat-grid-list cols="1" *ngIf="videogames.length<1; else divGame">
  <br>
  <h3 style="text-align: center;">No hay selección o no hay coincidencias con la selección</h3>
</mat-grid-list>

<ng-template #divGame>

    <div fxLayout="row wrap"
         fxLayout.xs="column"
         fxLayoutAlign="space-evenly"
         fxLayoutGap="30px"
         >

      <div fxFlex="30" 
           fxFlex.lg="20"
           fxFlex.sm="30"
           *ngFor="let game of videogames">
      
          <app-tarjetas [game]="game"></app-tarjetas>

      </div>
    </div>

  </ng-template>



