<mat-list>
    <h2 matSubheader>Consolas con mayor número de videojuegos</h2>
    <mat-list-item *ngFor="let top of topConsoles">
       <mat-icon matListIcon>folder</mat-icon>
       <h4 matLine>Nombre: {{top._id}}</h4>
       <p matLine class="demo-2"> Cantidad de Videojuegos: {{top.count}} </p>
    </mat-list-item>
    <mat-divider [vertical]="true"></mat-divider>
    <h3 matSubheader>Desarrolladores con mayor número de videojuegos para más consolas</h3>
    <mat-list-item *ngFor="let top of topDevelopers">
       <mat-icon matListIcon>note</mat-icon>
       <h4 matLine>Nombre: {{top._id}}</h4>
       <p matLine class="demo-2"> Cantidad de consolas: {{top.count}} </p>
    </mat-list-item>
 </mat-list>