<mat-card >
    <mat-card-header>
        <mat-card-title>
            {{game.name}}
        </mat-card-title>
        <mat-card-subtitle>
           ID.- {{game._id}}
        </mat-card-subtitle>
    </mat-card-header>
    
    <img mat-card-image [src]="game.image" width="200px" height="200px">

    <mat-card-content>
        <h3>{{game.year}}</h3>        
    </mat-card-content>

    <mat-card-actions>
        <button mat-button 
                color="warn"
                [routerLink]="['/videogames', game._id]">
            Leer mas..
        </button>

        <button mat-button 
                color="info"
                [routerLink]="['/videogames/editar', game._id]">
            Editar
        </button>

    </mat-card-actions>
</mat-card>
