<h1>Nuevo Videojuego:  "{{game[0].name}}"</h1>

<div fxLayout = "row" fxLayoutGap = "40px" fxLayout.xs = "column"
>

    <div fxFlex = "50" fxLayout="column">

        <mat-form-field fxFlex="100">
            <mat-label>Nombre</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="game[0].name"
                   required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Descripción</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="game[0].description"
                   required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Año</mat-label>
            <input matInput
                   type="number"
                   [(ngModel)]="game[0].year"
                   required>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Desarrollador</mat-label>
            <mat-select [(ngModel)]="game[0].developers" required>
                <mat-option *ngFor="let dev of developers">{{dev.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Consolas</mat-label>
            <mat-select [(ngModel)]="game[0].consoles" required>
                <mat-option *ngFor="let console of consoles">{{console.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Imagen</mat-label>
            <input matInput
                   [(ngModel)]="game[0].image"
                   type="url"
                   required>
        </mat-form-field>

        <div fxFlex="100" [(ngModel)]="game[0].active">            
            <mat-radio-group>
                <mat-radio-button value="true">Activo</mat-radio-button>
                <mat-radio-button value="false">Inactivo</mat-radio-button>
            </mat-radio-group>
        </div>
        <br>

        <div fxLayout>
            <button mat-raised-button 
                color="primary"
                (click)="guardar()">
            <mat-icon>save</mat-icon>
            Guardar
        </button>
        <span class="spacer"></span>
      
            <button *ngIf="game[0].id"
                    mat-raised-button
                    (click)="borrar()"
                    color="warm">
                <mat-icon>remove</mat-icon>
                Borrar
            </button>
        </div>
        
    </div>
</div>