<mat-grid-list cols="1" *ngIf="!game; else divGame">
   <mat-grid-tile>
        <mat-spinner></mat-spinner>
   </mat-grid-tile>
</mat-grid-list>

<ng-template #divGame>
    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="40px"
         >

         <div fxFlex="50">            
            {{game._id}} <small>-{{game.name}}</small>
            <mat-divider></mat-divider>
            <br>
            <img [src]="game.image" width="500px" height="500px ">
         </div>
         
         <div fxFlex="50">
            <mat-list>
               <mat-list-item>{{game.description}}</mat-list-item>
               <mat-list-item>{{game.year}}</mat-list-item>
               <mat-list-item>{{game.consoles}}</mat-list-item>
               <mat-list-item>{{game.developers}}</mat-list-item>
            </mat-list>
            <br>
            <button mat-button 
                    color="warn"
                    (click)="regresar()">Regresar</button>
         </div>

    </div>
</ng-template>
