/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* El space tome todo el esapacio que quede erstante y empuje todo a los bores */
.spacer {
    flex: 1 1 auto; 
}